.chevron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  list-style: none;
}

.chevron::-webkit-details-marker {
  display: none;
}

.chevron::after {
  content: "";
  flex: none;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: -0.25rem;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
}

details[open] > .chevron::after {
  margin-top: 0.25rem;
  transform: rotate(-135deg);
}

@media (prefers-reduced-motion: no-preference) {
  .chevron::after {
    transition: transform 200ms;
  }
}
